# Plantilla ficticia. Nunca renombres y publiques este archivo con valores reales.
STORAGE_BACKEND = "oci"
OCI_AUTH_MODE = "api_key"
OCI_REGION = "sa-santiago-1"
OCI_NAMESPACE = "namespace_ejemplo"
OCI_BUCKET_NAME = "bucket_ejemplo"
OCI_DATA_PREFIX = "data"
OCI_RAG_PREFIX = "data"

OCI_USER_OCID = "ocid1.user.oc1..ejemplo"
OCI_TENANCY_OCID = "ocid1.tenancy.oc1..ejemplo"
OCI_FINGERPRINT = "00:00:00:00:00:00:00:00"
OCI_PRIVATE_KEY_PEM = """-----BEGIN PRIVATE KEY-----
CLAVE_PRIVADA_FICTICIA
-----END PRIVATE KEY-----"""

OPENROUTER_API_KEY = "clave_openrouter_ficticia"
